<html>
    <head>
      {% if title %}
      <title>{{ title }} Lucky Lucky Ordering System</title>
      {% else %}
      <title>Lucky Lucky Ordering System</title>
      {% endif %}
    </head>
    <body>
        <div>Navigation: <a href="/index">Order</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}    
    {% block content %}{% endblock %}

    </body>
</html>