<html>
    <head>
      {% if title %}
      <title>{{ title }} Lucky Lucky Ordering System</title>
      {% else %}
      <title>Lucky Lucky Ordering System</title>
      {% endif %}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
        <style>head{padding: 30px}
                body{padding: 30px}</style>
    </head>
    <body>
        <div>Navigation: <a href="/index">Home</a> | <a href="/form">Order Form</a></div>
    <hr>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}    
    {% block content %}{% endblock %}

    </body>
</html>