{% extends "base.html" %}

{% block content %}

    <head>
        <title>Lucky Lucky Ordering System</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
        <style>head{padding: 30px}
                body{padding: 30px}</style>
    </head>
    <body>
    
    {% for table in tables %}
        {{ table|safe }}
    {% endfor %}
    
    <br>
    <div>Total orders: {{ summ }}. </div>
    <hr>
    <h4>CALL 63232853 / 62745920</h4>
    
    
{% endblock %}
